.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 20px;
}

.logo {
  margin-left: 2%;
}

.logoImg {
  width: 75%;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 10%;
}

.hamburgerIcon {
  width: 35px;
  height: auto;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.navItem {
  margin-left: 20px;
  text-decoration: none;
  color: #4e4e4e;
  text-align: center;
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}

.headerBtn {
  border-radius: 8px;
  background: #6db72c;
  color: #f8f9fb;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.016px;
  border: none;
  padding: 10px;
  width: 70%;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .header {
    display: none;
  }
}
